/* Hide the address bar  :has(#nav-bar) { 	visibility:collapse !important;  } */
@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #2b2a33;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FAFAFC;
  }
}

#appcontent>#tabbrowser-tabbox>#tabbrowser-tabpanels>.deck-selected>.browserContainer>.browserStack>browser {
  border-radius: 10px !important;
  margin: 6px !important;
}

/* background of firefoxui */
.browserStack {
  background: var(--accent-color);
  backdrop-filter: opacity(0);
}

/* done so that it doesn't inherit its parent */
.browserContainer {
  background-color: var(--lwt-accent-color-inactive,
      var(--lwt-accent-color)) !important;
  background-image: var(--lwt-header-image), var(--lwt-additional-images) !important;
  background-repeat: no-repeat, var(--lwt-background-tiling) !important;
  background-position: right top, var(--lwt-background-alignment) !important;
}

/* alternatively tabbar parent */
#titlebar {
  /* display: none !important; */
}

.titlebar-buttonbox-container {
  display: none !important;
}

/* 
#forward-button,
#back-button,
#reload-button {
  display: none !important;
} */

#navigator-toolbox:not(:hover) {
  --is-bar-visible: hidden;
  opacity: 0 !important;
  height: 2px;
  /* transition:all 2s !important; */
}

#navigator-toolbox {
  position: absolute;
  z-index: 1;
  height: 15px;
  overflow: var(--is-bar-visible);
  right: 0;
  top: 0;
  /* width: calc(100% - 310px); */
  width: 100vw;
  background-color: transparent !important;
}

#navigator-toolbox:hover {
  height: 40px;
  opacity: 1 !important;
  /* transition: opacity 175ms ease-in-out; */
}

#navigator-toolbox:focus-within {
  height: 40px;
  opacity: 1 !important;
  transition: opacity 175ms ease-in-out;
  --is-bar-visible: visible;
}

#nav-bar {
  background-color: var(--accent-color) !important;
}

#urlbar-background {
  background-color: var(--accent-color) !important;
}

toolbarbutton[open="true"] {
  --is-bar-visible: visible !important;
}






/*====== Aesthetics ======*/
/* Hide the tabs toolbar */
#navigator-toolbox {
  border-bottom: none !important;
}

#titlebar {
  background: var(--accent-color) !important;
}

/* Sets the toolbar color */
toolbar#nav-bar {
  /* 	visibility:collapse !important; */
  background: var(--accent-color) !important;
  box-shadow: none !important;
}

/* Sets the URL bar color */
#urlbar {
  background: var(--accent-color) !important;
}

#urlbar-background {
  background: var(--accent-color) !important;
  border: none !important;
}

#urlbar-input-container {
  border: none !important;
}

/*====== UI Settings ======*/
:root {
  --navbarWidth: 500px;
  /* Set width of navbar */
}

/* If the window is wider than 1000px, use flex layout */
@media (min-width: 900px) {
  #navigator-toolbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #TabsToolbar,
  #nav-bar {
    visibility: visible !important;
  }

  /*  Url bar  */
  #nav-bar {
    order: 1;
    width: var(--navbarWidth);
  }

  /* Tab bar */
  #titlebar {
    order: 1;
    width: calc(100vw - var(--navbarWidth) - 1px);
  }

  /* Bookmarks bar */
  #PersonalToolbar {
    order: 3;
    width: 100%;
  }

  /* Fix urlbar sometimes being misaligned */
  :root[uidensity="density"] #urlbar {
    --urlbar-toolbar-height: 30.60px !important;
  }

  :root[uidensity="touch"] #urlbar {
    --urlbar-toolbar-height: 49.00px !important;
  }
}

/*====== Simplifying interface ======*/
/* Autohide back button when disabled */
#back-button,
#forward-button {
  transform: scale(1, 1) !important;
  transition: margin-left 150ms var(--animation-easing-function), opacity 250ms var(--animation-easing-function), transform 350ms var(--animation-easing-function) !important;
}

#back-button[disabled="true"],
#forward-button[disabled="true"] {
  margin-left: -34px !important;
  opacity: 0 !important;
  transform: scale(0.8, 0.8) !important;
  pointer-events: none !important;
}

/* Remove UI elements */
#identity-box,
/* Site information */
#tracking-protection-icon-container,
/* Shield icon */
#page-action-buttons> :not(#urlbar-zoom-button, #star-button-box),
/* All url bar icons except for zoom level and bookmarks */
#urlbar-go-button,
/* Search URL magnifying glass */
#alltabs-button,
/* Menu to display all tabs at the end of tabs bar */
.titlebar-buttonbox-container

/* Minimize, maximize, and close buttons */
  {
  display: none !important;
}

#nav-bar {
  box-shadow: none !important;
}

/* Remove "padding" left and right from tabs */
.titlebar-spacer {
  display: none !important;
}

/* Fix URL bar overlapping elements */
#urlbar-container {
  min-width: initial !important;
}

/* Remove gap after pinned tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])>#tabbrowser-arrowscrollbox>.tabbrowser-tab[first-visible-unpinned-tab] {
  margin-inline-start: 0 !important;
}

/* Hide the hamburger menu */
/* #PanelUI-menu-button {
  padding: 0px !important;
}

#PanelUI-menu-button .toolbarbutton-icon {
  width: 1px !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack {
  padding: 0px !important;
} */